/* Globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Young+Serif&display=swap');

body {
  margin: 0;
  font-family: 'Albert Sans', sans-serif;
  background-color: #0f3342;
  background-repeat: no-repeat;
  background-size: cover;
  /* Cover the entire area */
  background-position: center;
  /* Center the background image */
  background-attachment: fixed;
  /* Optional: Fix the position of the background image */
  color: #f5f8fa;
  /* Set the text color */
}